*{
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body{
  margin: 0;
  padding: 0;
  background-color: #2B283A;
}

.main{
  height: 80vh;
  background-color: #F5F5F5;
  flex-direction: column;
  margin: 10vh auto;
  text-align: center;
  width: 90%;
  border-radius: 8px;
  padding: 5% 20%;
}

.dice--grid{
  display: grid;
  grid: 1fr /1fr 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 15%;
}

.dice{
  background-color: white;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}